*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Google API credentials
app/src/main/res/raw/client_secret_352579097658-ola3de7tefvkdr6a906g8n577r6dn36t.apps.googleusercontent.com.json
